
{:paths ["src/cljc"]

 :deps {}

 :aliases
 {:clj-1.10.1 {:override-deps {org.clojure/clojure {:mvn/version "1.10.1"}}}
  :clj-1.9.0 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}

  :cljs-1.10.758 {:override-deps {org.clojure/clojurescript {:mvn/version "1.10.758"}}}

  :clj-server {:extra-deps {}
               :paths ["src/clj" "resources"]}

  :clj-server-test {:extra-paths ["test/clj"]
                    :extra-deps {com.cognitect/test-runner
                                 {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                  :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}}

  :cljs-app {:extra-deps {reagent {:mvn/version "0.10.0"}
                          thheller/shadow-cljs {:mvn/version "2.10.14"}}
             :extra-paths ["src/cljs"]}

  :dev {:extra-deps {clj-kondo {:mvn/version "RELEASE"}}}

  :dev-clj {:extra-paths ["env/dev/clj"]}

  :dev-cljs {:extra-deps {binaryage/devtools {:mvn/version "1.0.2"}}}

  ;; server repl starts on port 7002
  :cider-clj {:extra-deps {cider/cider-nrepl {:mvn/version "0.25.2"}}}

  ;; cljs repl starts on port 7003
  :cider-cljs {:extra-deps {cider/piggieback {:mvn/version "0.5.0"}}}

  :depstar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}}

  :outdated {:extra-deps {antq {:mvn/version "RELEASE"}}}}}