  
{
;; Clj dependencies are used to run the embedded repl for the backend server
;; This is needed because calva does not support connecting to multiple repls
;; The work around is to use the clj and cljs repl that are started by embedded
;; nrepl in shadow-cljs
;; The settings.json file in .vscode will connect to a server and cljs repl and
;; and run the start fn in the env/dev/clj/user namespace when connecting with
;; calva
 :deps {:aliases [:clj-1.10.1 :cljs-1.10.758 :cljs-app :dev :dev-clj :dev-cljs
                  :test-clj :test-cljs :cider-clj :cider-cljs]}
 
 :nrepl {:port 7004}

 :builds {:app {:target :browser
                :target-path "target/cljsbuild/public/js"
                :output-dir "build/public/js"
                :asset-path "js"
                
                :modules {:main 
                          {:entries [tails.core]
                           :init-fn tails.core/main}}
                
                :test {:target :node-test
                       :output-to "target/test/test.js"
                       :autorun true}
                
                :devtools {:after-load tails.core/main
                           :http-root "build/public"
                           :http-port 3000}}}}